.grid-left {
    background-color: rgb(233, 233, 233);
}

.grid-mid {
    background-color: rgb(201, 201, 201);
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.shopping-cart {
    background-color: rgb(182, 180, 180);
    height: 666px;
    position: relative;
}

.shopping-item-container {
    overflow: auto;
    height: 450px;
}