.checkout-summary-details {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem 1rem 0 1rem;
    border: 1px solid rgb(182, 180, 180);
    border-top: none;
}

.left {
    margin-bottom: 0;
}

.expanded {
    background-color: rgb(88, 126, 182);
}

.proceed:hover {
    background-color: green;
}

.clear-cart:hover {
    background-color: rgb(189, 0, 0);
}