.button-rounded-hover {
    display: block;
    margin: 5px auto;
    border: 0;
    border-radius: 5000px;
    background-color: rgb(182, 180, 180);
    color: rgb(51, 91, 151);
    font-weight: bolder;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    font-size: .75rem;
    letter-spacing: 2px;
    transition: all 0.35s ease;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 2px solid rgb(182, 180, 180);
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: rgb(51, 91, 151);
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.25;
}

.link-signup {
  color:  rgb(189, 0, 0);
}

.link-signup:hover {
  background-color: green;
  color: white;
}