.sticky-topbar {
  width: 100%;
}

.menu-btn-text {
  color: white;
}

.menu-btn {
  margin-right: 15px;
  background-color: green;
  border-radius: 16px;
}

.menu-btn:hover {
  background-color: rgb(77, 185, 77);
}

.menu-links {
  color: black;
}

.menu-links:hover {
  color: black;
  border: black 1px solid;
}

