.sticky-topbar {
  width: 100%;
}

.links {
  float: right;
}

.menu-btn-text {
  color: white;
}

.menu-btn {
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(51, 91, 151);
  border-radius: 16px;
}

.menu-btn:hover {
  background-color: rgb(77, 185, 77);
}

.menu-links {
  color: black;
}

.menu-links:hover {
  color: black;
  border: black 1px solid;
}

.header-logo {
  padding: 10px;
}

.top {
  
}

.bar-left { 
  width: 75%;
  display: inline;
}

.bar-right {
  display: inline;
  height: 100%;
  width: 25%;
}

