.sticky-topbar {
  width: 100%;
}

.header {
  background-image: linear-gradient(rgb(129, 129, 129), rgb(224, 223, 223));
}



.links {
  float: right;
}

.menu-btn-text {
  color: white;
}

.menu-btn-text:hover {
  cursor: pointer;
}

.menu-btn, .logout-btn {
  margin-top: 10px;
  margin-right: 10px;
  background-color: rgb(51, 91, 151);
}

.menu-btn:hover {
  background-color: rgb(77, 185, 77);
}

.logout-btn:hover {
  background-color: rgb(189, 45, 45);
}

.menu-links {
  color: black;
}

.menu-links:hover {
  color: black;
  border: black 1px solid;
}

.header-logo {
  padding: 10px;
}

.bar-left { 
  width: 75%;
  display: inline;
}

.bar-right {
  display: inline;
  height: 100%;
  width: 25%;
}

