.form-logo {
  color: black;
  text-align: center;
  margin-top: 15px;
  font-size: 55px;
}

form {
  border: black 2px solid;
  width: 20%;
  padding: 15px;
  display: block;
  margin: 15px auto
}

form .form-icons {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

form .form-icons h4 {
  margin-bottom: 1rem;
}

form .form-icons .input-group-label {
  background-color: #79848b;
  border-color: #79848b;
}

form .form-icons .input-group-field {
  border-color: #79848b;
}

form .form-icons .fa {
  color: white;
  width: 1rem;
}

form .submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 100%;
    background-color: #79848b;
}

form .submit-btn:hover {
    background-color: rgb(108, 158, 108);
}

.login-question {
  font-size: small;
}