.product-card {
    background-color: #fefefe;
    border: 1px solid #e6e6e6;
    padding: 1rem;
    margin: 10px 10px 1.5rem 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}    

.product-card-thumbnail {
    display: block;
    position: relative;
}

.product-card-title {
    font-family: 'Open sans', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.45rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

.product-card-desc {
    color: #8a8a8a;
    display: block;
    font-family: 'Open sans', sans-serif;
    font-size: 0.85rem;
    width: 175px;
    height: 130px;
    overflow: auto;
   
}

.product-card-price {
    color: #3e3e3e;
    display: inline-block;
    font-size: 0.85rem;
    font-weight: 600;
    margin-top: 0.8rem;
}

.product-card-sale {
    color: #cacaca;
    display: inline-block;
    font-size: 0.85rem;
    margin-left: 0.3rem;
    text-decoration: line-through;
}

.product-card-colors {
    display: block;
    margin-top: 0.8rem;
    width: 175px;
}

.product-card-color-option {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 5px;
}

/* BUTTON */
.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 0;
}

.button-hover-addcart {
  border: 2px solid #767676;
  background: transparent;
  color: #767676;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: 0.07rem;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.button-hover-addcart span {
  transition: all 0.2s ease-in-out;
}

.button-hover-addcart .fa {
  position: absolute;
  font-size: 1.2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #1779ba;
  right: -25px;
  transition: 0.4s right cubic-bezier(0.38, 0.6, 0.48, 1);
}

.button-hover-addcart:hover {
  border-color: #1779ba;
  background: transparent;
  transition: border-color 0.2s;
}

.button-hover-addcart:hover span {
  margin-right: 20px;
  color: #1779ba;
}

.button-hover-addcart:hover .fa {
  right: 12px;
}